/*Goes top to bottom of the app.component html file*/

.further {
    background-color: transparent
}
.instruction {
    margin-bottom: 0px;
    margin-left: 5px;
    padding: 0px;
    display: inline-block;
}
#change-importance-header {
    font-weight: bolder;
}
.hider {
    margin-top: 0px;
    display: inline-block;
    margin-left: 3px;
    background-color: transparent;
    color: darkgreen;
    border: none;
}
.hider:focus {
    border: none;
    outline: none;
}
.print-btn {
    margin: 2px 2px 0px 0px;
    float: right;
}
.main {
    margin: 0 20% 5% 20%;
    padding: 1% 4% 3% 5%;
    box-shadow: 2px 2px 2px grey;
    /*border-radius: 5%;*/
    background-color: white;
    position: relative;
    font-family:  'Droid Sans', sans-serif;
}
#header {
    text-align: center;
    background: #4B5E61;
    color: white;
    padding: 2% 2% 0px 2%;
    /*border-radius: 5px;*/
    box-shadow: 1px 1px 1px grey;
}
#header h3{
    padding-bottom: 2%;
    margin-top: 2%; 
}
#green-block {
    background-color: green;
    width: 10px;
    height: 10px;
    display: inline-block;
}
#red-block {
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
}
#beige-block {
    background-color: #96C0C6;
    width: 10px;
    height: 10px;
    display: inline-block;
}

#addtodo {
    position: relative;
}

.formy {
   position: fixed;
   bottom: 5px;
   left: 5px;
}

/* These I'm not sure what these are for*/
.complete-button-non{
    float: right;
    opacity: 0.25;
}
#entire-page {
      height: 100vh;
}
/*fin*/
.modal-btn {
    min-height: 25px;
    min-width: 50px;
    margin: 10px 1px 10px 1px;
}
.left-most {
    margin-left: 2.5%;
}

.saveBtn, .getBtn, .loadAll {
    margin-top: 5px;
}
