.main {
    margin: 2% 20% 5% 20%;
    padding: 1% 4% 3% 5%;
    box-shadow: 2px 2px 2px grey;
    /*border-radius: 5%;*/
    background-color: white;
    position: relative;
    font-family:  'Droid Sans', sans-serif;
}
#checkbox-label {
    margin: 0px;
}
.further {
    background-color: transparent
}
.complete-button-non {
    opacity: 0.25;
}
.complete-button-non{
    float: right;
}
#addtodo {
    position: relative;
}
.todo-item {
    display:inline-block;
}
.glyphicon-ok {
    color: #1FBA5A;
}
.glyphicon-remove {
    color: red;
}
#header {
    text-align: center;
    background: #4B5E61;
    color: white;
    padding: 2%;
    /*border-radius: 5px;*/
    box-shadow: 1px 1px 1px grey;
}
.chkbx {
    float: right;
    margin-top: 0.5%;
    margin-right: 0.5%;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 1px black;
}
.checkboxes {
    background: #DADAD5;
    /*padding: 2%;*/
    /*border-radius: 5px;*/
    color: black;
    box-shadow: 1px 1px 1px grey;
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px;
    overflow: auto;
    margin: 10px 0px 10px 0px;
}
.checkbox-row {

}
.formy {
   position: fixed;
   bottom: 5px;
   left: 5px;
}
.displayed-info {
    /*margin-top: 2%;*/
    padding-left: 10px;
    max-height: 20%;
}

.highimportance {
    background-color: crimson;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.mediumimportance {
    background-color: darkgreen;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.mehimportance {
    background-color: transparent;
    border-radius: 5px;
    color: black;
    padding: 10px;
}
.nonimportance {
    opacity: 0.25;
    padding: 3px;
}
#entire-page {
      height: 100vh;
}

.importance-change {
    /*margin: 1%;*/
    padding: 0px;
    /*display: inline-block;*/
}

#green-block {
    background-color: green;
    width: 10px;
    height: 10px;
    display: inline-block;
}
#red-block {
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
}
#beige-block {
    background-color: beige;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.hider {
    margin-top: 0px;
    display: block;
    margin-left: 3px;
    background-color: transparent;
    color: darkgreen;
    border: none;
}
.hider:focus {
    border: none;
    outline: none;
}
.instruction {
    margin-bottom: 0px;
    margin-left: 5px;
}
.completed-task {
    color: darkgreen;
    /*display: block;*/
}