.main {
    margin: 5% 20% 5% 20%;
    padding: 5%;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5%;
    background-color: #CC8B22;
    position: relative;
}
#header {
    text-align: center;
    background: #4D66FF;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
}
.chkbx {
    float: right;
}
.checkboxes {
    background: #DADAD5;
    padding: 5%;
    border-radius: 5px;
    color: black;
    box-shadow: 1px 1px 1px grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    overflow: auto;
    margin: 10px 0px 10px 0px;
}

.formy {
   position: absolute;
   bottom: 5px;
}
