
<div class="further">
    <div class="importance-change instruction" #instruction>
        <h5 style="display: inline-block; padding-bottom: 0.2%;">Change importance level, or re-assign a completed task, by pressing one of these colors.</h5>
        <div id="red-block">
        </div> 
        <div id="green-block">
        </div>
        <div id="beige-block">
        </div>
    </div>
    <button class="btn btn-primary hider" (click)="hideMessage(instruction)"><span id="arrow" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>      
    <div class="container-fluid main" >
        <div class="row checkbox-row">
            <div class="col-md-12 checks">
                <h1 id="header">
                    ToDo <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h1>
                <div class="checkboxes" *ngFor="let to of todo">
                    <label id="checkbox-label">
                        <!--<input *ngIf="to.importance != 'non'" type="checkbox" id="{{to.id}}checker"  name="ChecklistItem{{to.name}}" value={{to.name}}>-->
                        <!--<span *ngIf="to.importance == 'non'" class="glyphicon glyphicon-ok completed-check" aria-hidden="true"></span>-->
                            <div class="displayed-info">
                                <div class="importance-change">
                                    <div id="red-block" (click)="changeToHigh(to.id)">
                                    </div> 
                                    <div id="green-block" (click)="changeToMed(to.id)">
                                    </div>
                                    <div id="beige-block" (click)="changeToMeh(to.id)">
                                    </div>
                                </div>                                 
                                <p *ngIf="to.importance == 'high'" class="todo-item highimportance">{{to.name}} should be done {{to.time}}</p>
                                <p *ngIf="to.importance == 'medium'" class="todo-item mediumimportance">{{to.name}} should be done {{to.time}}</p>
                                <p *ngIf="to.importance == 'meh'" class="todo-item mehimportance">{{to.name}} should be done {{to.time}}</p>     
                                <span *ngIf="to.importance == 'non'" class="glyphicon glyphicon-ok completed-check" aria-hidden="true"></span>                 
                                <div *ngIf="to.importance == 'non'" class="todo-item nonimportance"><p>{{to.name}} </p></div><span *ngIf="to.importance == 'non'" class="completed-task"> Completed!</span>
                            </div>
                    </label>
                    <button class="btn btn-warning chkbx" (click)="onDelete(to.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> 
                    <button *ngIf="to.importance != 'non'" class="btn btn-info chkbx" (click)="onCompleted(to.id)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    <button *ngIf="to.importance == 'non'" class="btn btn-info chkbx" disabled="true" (click)="onCompleted(to.id)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>       
                </div>
            </div>
        </div>
    </div>
    <div id="addtodo">
        <div class="row">
            <div class="col-md-12 formy">
                <form 
                [formGroup]="formed" 
                (ngSubmit)="onSubmit(formed.value)"
                class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="newCheckboxname">Name</label>
                        <input type="text" class="form-control" id="newCheckboxname" placeholder="next todo" formControlName="name" value="">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="newCheckboxdate"></label>
                        <input type="text" class="form-control" id="newCheckboxdate" placeholder="due when?" formControlName="time" value="">
                    </div>
                    <div class="form-group" >
                        <select ng-init="high" class="form-control" id="newCheckboximport" placeholder="importance" formControlName="importance" value="medium">
                            <option>high</option>
                            <option>medium</option>
                            <option>meh</option>
                        </select>
                        <!--<div class="dropup" dropdown >
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                Dropup
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" >
                                <li><a href="#">high</a></li>
                                <li><a href="#">medium</a></li>
                                <li><a href="#">meh</a></li>
                            </ul>
                        </div>                   -->
                        <!--<input type="text" class="form-control" id="newCheckboximport" placeholder="how important?" formControlName="importance" value="">-->
                    </div>
                    <button class="form-group" [disabled]="!formed.valid" type="submit" class="btn btn-success">Add new todo</button>
                </form>
            </div>
        </div>
    </div>
</div>

        